@model HandleErrorInfo

<hgroup class="title">
    <h1 class="error">@MedSiteStrings.ErrorPageTitle</h1>
    <h2 class="error">@Model.ControllerName</h2>
    <h3 class="error">@Model.ActionName</h3>
    <p class="error">@Model.Exception</p>
</hgroup>
